@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Peralta);

html, body, .container {
    height: 100%;
}

body {
    overflow: hidden;
    background: url(../img/cloudy-sky-background.jpg) repeat-x; 
}

#ribbon { background: url(../img/ribbon.png) repeat-x; height: 180px; }
#balloons-left { height: 595px; width: 402px; position: absolute; left: 0; bottom: -100px; }
#balloons-right { height: 595px; width: 402px; position: absolute; right: 0; bottom: 0; }

#video-container { display: none; }


@media screen and (max-width: 1200px) {
    #balloons-right, #balloons-left { height: 450px; width: 300px; }
    .giftbox { width: 260px!important; height: 200px!important; margin-left: -130px!important; }
}

@media screen and (max-width: 900px) {
    #balloons-right, #balloons-left { height: 300px; width: 202px; }
    .giftbox { width: 220px!important; height: 170px!important; margin-left: -110px!important; }
}

@media screen and (max-width: 600px) {
    #video-container .video-js:not(.vjs-fullscreen) { width: 500px; height: 375px; }
    .background { width: 100%!important; margin-top: 0!important; }
    .wrap { position: initial!important; }
    .giftbox { bottom: 40px!important; }
}

@media screen and (max-width: 520px) {
    #video-container .video-js:not(.vjs-fullscreen) { width: 450px; height: 337px; }
}

@media screen and (max-width: 450px) {
    #video-container .video-js:not(.vjs-fullscreen) { width: 400px; height: 300px; }    
}

@media screen and (max-width: 400px) {
    #video-container .video-js:not(.vjs-fullscreen) { width: 350px; height: 262px; }
}

.wrap {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

.wrap svg path,
.wrap svg polygon,
.wrap svg circle {
    fill: none;
}

.giftbox {
    width: 500px;
    height: 368px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -250px;
    z-index: 10;
    cursor: pointer;
}

.giftbox::after {
    content: 'Sretno mladenci';
    position: absolute;
    color: #fff;
    font-family: 'Peralta', serif;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.giftbox > div {
    background: #34495e;
    position: absolute;
}

.giftbox .cover {
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    z-index: 2;
}

.giftbox .box {
    bottom: 0;
    height: 80%;
    left: 5%;
    right: 5%;
    z-index: 1;
}

.giftbox > div::after,
.giftbox > div::before {
    content: '';
    position: absolute;
    top: 0;
} 

/* ribbon */
.giftbox > div::before {
    background: #fdc56d;
    width: 50px;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* shadow */
.giftbox .box::after {
    background: rgba(0,0,0,0.1);
    left: 0;
    height: 30px;
    width: 100%;
}

.giftbox .cover div {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
}

.giftbox .cover div::before,
.giftbox .cover div::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: transparent;
    border-radius: 30px;
    box-shadow: inset 0 0 0 14px #fdc56d;
}

.giftbox .cover div::before {
    -webkit-transform: translateX(-45%) skewY(40deg);
    transform: translateX(-45%) skewY(40deg);
}

.giftbox .cover div::after {
    -webkit-transform: translateX(45%) skewY(-40deg);
    transform: translateX(45%) skewY(-40deg);
}

/* Background */
.background {
    width: 400px;
    margin: 0 auto;
    margin-top: 128px;
    opacity: 0;
}

.background svg path {
    stroke: #fdc56d;
    stroke-width: 0.8;
}

/* Step 4 */
.step-4 .icons span:not(.letter) {
    opacity: 0;
    -webkit-transform: translateY(700%) rotate(20deg);
    transform: translateY(700%) rotate(20deg);
}

.step-4 .icons span.letter {
    opacity: 1;
}

/* Steps (animations) for giftbox */

.step-1 .giftbox {
    -webkit-animation: wobble 0.5s linear infinite forwards;
    animation: wobble 0.5s linear infinite forwards;
}

.step-2 .giftbox::after,
.step-3 .giftbox::after,
.step-4 .giftbox::after {
    opacity: 0;
}

.step-1 .giftbox .cover,
.step-1 .giftbox .cover div {
    -webkit-animation: wobble 0.5s 0.1s linear infinite forwards;
    animation: wobble 0.5s 0.1s linear infinite forwards;
}

.step-2 .giftbox .cover {
    -webkit-animation: flyUp 0.4s ease-out forwards;
    animation: flyUp 0.4s ease-out forwards;
}

.step-2 .giftbox .box {
    -webkit-animation: fallDown 0.2s 0.05s ease-in forwards;
    animation: fallDown 0.2s 0.05s ease-in forwards;
}

.step-3 .giftbox,
.step-3 .giftbox,
.step-4 .giftbox {
    opacity: 0;
    z-index: 1;
}

.step-3 .icons span.letter,
.step-4 .icons span.letter {
    color: #2c3e50;
    text-shadow: 5px 5px 0 #ca3121;
}

.background {
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
}

.step-4 .background {
    opacity: 1;
}

.step-4 .background svg {
    -webkit-animation: wobble 0.3s linear 1s 2 forwards;
    animation: wobble 0.3s linear 1s 2 forwards;
}

.step-4 .icons span.letter {
    -webkit-animation: wobble 0.6s linear 1.6s infinite forwards;
    animation: wobble 0.6s linear 1.6s infinite forwards;
}

.step-4 .icons span.letter:nth-child(even) {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

@-webkit-keyframes wobble {
    25% { -webkit-transform: rotate(4deg); }
    75% { -webkit-transform: rotate(-2deg); }
}

@keyframes wobble {
    25% { transform: rotate(4deg); }
    75% { transform: rotate(-2deg); }
}

@-webkit-keyframes flyUp {
    75% { opacity: 1;}
    100% { -webkit-transform: translateY(-1000px) rotate(20deg); opacity: 0;}
}

@keyframes flyUp {
    75% { opacity: 1;}
    100% { transform: translateY(-1000px) rotate(20deg); opacity: 0;}
}

@-webkit-keyframes fallDown {
    75% { opacity: 1;}
    100% { -webkit-transform: translateY(100%); opacity: 0;}
}

@keyframes fallDown {
    75% { opacity: 1;}
    100% { transform: translateY(100%); opacity: 0;}
}

@media screen and (min-height: 50em) {
    .icons span.letter {
        font-size: 110px;
    }
}

@media screen and (max-width: 52em) {
    .icons span.letter {
        font-size: 44px;
    }
    .step-3 .icons span.letter, 
    .step-4 .icons span.letter {
        text-shadow: 2px 2px 0 #ca3121;
    }
}

@media screen and (max-width: 44em) {
    .icons span.letter {
        font-size: 18px;
        line-height: 80px;
    }

    .step-3 .icons span.letter, 
    .step-4 .icons span.letter {
        text-shadow: 1px 1px 0 #ca3121;
    }

    .icons svg path,
    .icons svg polygon,
    .icons svg circle {
        stroke-width: 3;
    }
}